In [1]:
import numpy as np
import pandas as pd
import requests
import time
from matplotlib import pyplot as plt
from pprint import pprint
from iso3166 import countries

# reading the income by country
# Then find the lastest income year and filter the data
# drop out duplicates country

In [29]:
df=pd.read_csv('annual_wages.csv')
df_1=df[['COUNTRY','Country','Time','Unit Code','Value']]
df_1.columns=['Country_code','Country','Year','Currency','Annual_income']
max=df_1['Year'].max()
income_df=df_1.loc[df_1['Year']==max]
income_df=income_df.drop_duplicates(subset=['Country'])

# API call to nominalise all the currency to USD by running first day/ last day of the year, then get the average (mean) exchange rate

In [3]:
rate=("https://api.exchangeratesapi.io/history?start_at=2019-01-01&end_at=2019-12-31&base=USD")
json = requests.get(rate).json()
rate_df=pd.DataFrame.from_dict(json['rates'])
avg_rate=rate_df.mean(axis=1)
avg_rate=avg_rate.to_frame()
avg_rate['Currency']=avg_rate.index
avg_rate.columns=['Rate','Currency']

# covert all the annual income to USD and save the FX rate  applied

In [4]:
income1_df=income_df.merge(avg_rate,on='Currency')
income1_df['income_USD']=income1_df['Annual_income']/income1_df['Rate']
#income1_df.drop(['Year','Annual_income','Rate'],axis=1)
income1_df

,Country_code,Country,Year,Currency,Annual_income,Rate,income_USD
0,AUS,Australia,2019,AUD,8.360248e+04,1.439273,58086.613623
1,AUT,Austria,2019,EUR,4.468883e+04,0.893409,50020.596455
2,BEL,Belgium,2019,EUR,4.724438e+04,0.893409,52881.047124
3,FIN,Finland,2019,EUR,4.261754e+04,0.893409,47702.181469
4,FRA,France,2019,EUR,3.909926e+04,0.893409,43764.140735
5,DEU,Germany,2019,EUR,4.242128e+04,0.893409,47482.503953
6,GRC,Greece,2019,EUR,1.758946e+04,0.893409,19688.039846
7,IRL,Ireland,2019,EUR,4.960502e+04,0.893409,55523.327202
8,ITA,Italy,2019,EUR,3.002826e+04,0.893409,33610.894799
9,LUX,Luxembourg,2019,EUR,6.584320e+04,0.893409,73698.861923
10,NLD,Netherlands,2019,EUR,4.835871e+04,0.893409,54128.323695
11,PRT,Portugal,2019,EUR,1.756195e+04,0.893409,19657.246199
12,SVK,Slovak Republic,2019,EUR,1.501742e+04,0.893409,16809.124692
13,ESP,Spain,2019,EUR,2.746776e+04,0.893409,30744.902198
14,SVN,Slovenia,2019,EUR,2.596144e+04,0.893409,29058.867958
15,EST,Estonia,2019,EUR,1.861122e+04,0.893409,20831.699487
16,LVA,Latvia,2019,EUR,1.611850e+04,0.893409,18041.578058
17,LTU,Lithuania,2019,EUR,1.454719e+04,0.893409,16282.794420
18,CAN,Canada,2019,CAD,6.917486e+04,1.326937,52131.247075
19,CZE,Czech Republic,2019,CZK,4.082113e+05,22.934477,17799.021931
20,DNK,Denmark,2019,DKK,4.463967e+05,6.670257,66923.460020
21,HUN,Hungary,2019,HUF,3.990645e+06,290.678255,13728.736003
22,JPN,Japan,2019,JPY,4.402228e+06,108.977442,40395.775497
23,KOR,Korea,2019,KRW,4.184761e+07,1166.277471,35881.345832
24,NOR,Norway,2019,NOK,5.798198e+05,8.802308,65871.339584
25,POL,Poland,2019,PLN,6.005698e+04,3.839670,15641.182819
26,SWE,Sweden,2019,SEK,4.383502e+05,9.461526,46329.755681
27,CHE,Switzerland,2019,CHF,8.879216e+04,0.993719,89353.391823
28,GBR,United Kingdom,2019,GBP,3.715418e+04,0.784206,47378.063243
29,USA,United States,2019,USD,6.583558e+04,1.000000,65835.577640
30,ISR,Israel,2019,ILS,1.651258e+05,3.563617,46336.583250
31,MEX,Mexico,2019,MXN,1.815627e+05,19.257458,9428.177603
32,ISL,Iceland,2019,ISK,1.045378e+07,122.647084,85234.669386
33,NZL,New Zealand,2019,NZD,6.954498e+04,1.518862,45787.554610

#Running the iso3166 conversion to get 2 digits country codes rather than 3 digits

In [5]:
alpha2=[]
for country in income1_df['Country_code']:
    country2=countries.get(country)
    alpha2.append(country2.alpha2)    
income1_df['alpha2']=alpha2

In [6]:
income1_df

,Country_code,Country,Year,Currency,Annual_income,Rate,income_USD,alpha2
0,AUS,Australia,2019,AUD,8.360248e+04,1.439273,58086.613623,AU
1,AUT,Austria,2019,EUR,4.468883e+04,0.893409,50020.596455,AT
2,BEL,Belgium,2019,EUR,4.724438e+04,0.893409,52881.047124,BE
3,FIN,Finland,2019,EUR,4.261754e+04,0.893409,47702.181469,FI
4,FRA,France,2019,EUR,3.909926e+04,0.893409,43764.140735,FR
5,DEU,Germany,2019,EUR,4.242128e+04,0.893409,47482.503953,DE
6,GRC,Greece,2019,EUR,1.758946e+04,0.893409,19688.039846,GR
7,IRL,Ireland,2019,EUR,4.960502e+04,0.893409,55523.327202,IE
8,ITA,Italy,2019,EUR,3.002826e+04,0.893409,33610.894799,IT
9,LUX,Luxembourg,2019,EUR,6.584320e+04,0.893409,73698.861923,LU
10,NLD,Netherlands,2019,EUR,4.835871e+04,0.893409,54128.323695,NL
11,PRT,Portugal,2019,EUR,1.756195e+04,0.893409,19657.246199,PT
12,SVK,Slovak Republic,2019,EUR,1.501742e+04,0.893409,16809.124692,SK
13,ESP,Spain,2019,EUR,2.746776e+04,0.893409,30744.902198,ES
14,SVN,Slovenia,2019,EUR,2.596144e+04,0.893409,29058.867958,SI
15,EST,Estonia,2019,EUR,1.861122e+04,0.893409,20831.699487,EE
16,LVA,Latvia,2019,EUR,1.611850e+04,0.893409,18041.578058,LV
17,LTU,Lithuania,2019,EUR,1.454719e+04,0.893409,16282.794420,LT
18,CAN,Canada,2019,CAD,6.917486e+04,1.326937,52131.247075,CA
19,CZE,Czech Republic,2019,CZK,4.082113e+05,22.934477,17799.021931,CZ
20,DNK,Denmark,2019,DKK,4.463967e+05,6.670257,66923.460020,DK
21,HUN,Hungary,2019,HUF,3.990645e+06,290.678255,13728.736003,HU
22,JPN,Japan,2019,JPY,4.402228e+06,108.977442,40395.775497,JP
23,KOR,Korea,2019,KRW,4.184761e+07,1166.277471,35881.345832,KR
24,NOR,Norway,2019,NOK,5.798198e+05,8.802308,65871.339584,NO
25,POL,Poland,2019,PLN,6.005698e+04,3.839670,15641.182819,PL
26,SWE,Sweden,2019,SEK,4.383502e+05,9.461526,46329.755681,SE
27,CHE,Switzerland,2019,CHF,8.879216e+04,0.993719,89353.391823,CH
28,GBR,United Kingdom,2019,GBP,3.715418e+04,0.784206,47378.063243,GB
29,USA,United States,2019,USD,6.583558e+04,1.000000,65835.577640,US
30,ISR,Israel,2019,ILS,1.651258e+05,3.563617,46336.583250,IL
31,MEX,Mexico,2019,MXN,1.815627e+05,19.257458,9428.177603,MX
32,ISL,Iceland,2019,ISK,1.045378e+07,122.647084,85234.669386,IS
33,NZL,New Zealand,2019,NZD,6.954498e+04,1.518862,45787.554610,NZ

In [7]:
r_region=requests.get('https://api.isthereanydeal.com/v01/web/regions/')
region_df=pd.DataFrame.from_dict(r_region.json()['data'])
region=list(region_df.columns) 
eu1=pd.DataFrame.from_dict(r_region.json()['data']['eu1']['countries'])
eu2=pd.DataFrame.from_dict(r_region.json()['data']['eu2']['countries'])

In [8]:
#seperate Euro countries in 2 area as price has 2 EU region
for i in (eu1):
    eu1['region']="EU1"
    
for i in (eu2):
    eu2['region']="EU2"

eu_df=eu1.append(eu2)
eu_df.columns=['alpha2','eu_region']

In [9]:
income1_df=pd.merge(income1_df,eu_df, on='alpha2',how='left')

In [10]:
no=2
url = "https://api.isthereanydeal.com/v01/stats/popularity/chart/?"
key = "42c654a7eee83f02992f0317564462bceccdd585"
top_url = f"{url}key={key}&offset=0&&limit={no}"
response = requests.get(top_url).json()

In [11]:
top_df=pd.DataFrame.from_dict(response['data'])
top_df.drop(columns=['rank'])

   position           title          plain
0         1  NieR: Automata   nierautomata
1         2  Stardew Valley  stardewvalley

In [12]:
price_df=pd.DataFrame()
currency_list=[]
region_list=[]
game_list=[]
session = requests.Session()

for index in top_df.plain:
    for i in region:
        url_2="https://api.isthereanydeal.com/v01/game/prices/?"
        price_url=f"{url_2}key={key}&plains={index}&shops=steam&region={i}"
        response_1 = requests.get(price_url).json()        
        price_dict=response_1['data']
        currency_list.append(response_1['.meta']['currency'])
        region_list.append(i.upper())
        game_list.append(index)
        price_df=price_df.append(price_dict[index]['list'],ignore_index=True)
        
        
price_df['currency']=currency_list   
price_df['region']=region_list   
price_df['game']=game_list

In [13]:
test_df=price_df

In [14]:
data_df=test_df.groupby(by='region').mean()
data_df['alpha2']=data_df.index
data_df['avg_price']=(data_df['price_new']+data_df['price_old'])/2
data_df=data_df.drop(['price_new','price_old','price_cut'],axis=1)

In [15]:
data_df=data_df.replace(to_replace="AU2",value="AU")
data_df=data_df.replace(to_replace="BR2",value="BRL")

In [16]:
data_df1=data_df

In [17]:
income2_df=pd.merge(income1_df,data_df1, on='alpha2',how='left')

In [18]:
data_df.columns=['eu_region','avg_price']

In [19]:
euro_df=pd.merge(income1_df,data_df, on='eu_region',how='left')

In [20]:
income2_df=income2_df.dropna(subset=['avg_price'])
euro_df=euro_df.dropna(subset=['avg_price'])

In [21]:
result_df=income2_df.append(euro_df)

In [22]:
result_df['price_index']=result_df['avg_price']/result_df['Annual_income']

In [23]:
result_df

,Country_code,Country,Year,Currency,Annual_income,Rate,income_USD,alpha2,eu_region,avg_price,price_index
0,AUS,Australia,2019,AUD,8.360248e+04,1.439273,58086.613623,AU,NaN,32.245,0.000386
18,CAN,Canada,2019,CAD,6.917486e+04,1.326937,52131.247075,CA,NaN,35.245,0.000510
29,USA,United States,2019,USD,6.583558e+04,1.000000,65835.577640,US,NaN,27.490,0.000418
1,AUT,Austria,2019,EUR,4.468883e+04,0.893409,50020.596455,AT,EU1,26.990,0.000604
2,BEL,Belgium,2019,EUR,4.724438e+04,0.893409,52881.047124,BE,EU1,26.990,0.000571
3,FIN,Finland,2019,EUR,4.261754e+04,0.893409,47702.181469,FI,EU1,26.990,0.000633
4,FRA,France,2019,EUR,3.909926e+04,0.893409,43764.140735,FR,EU1,26.990,0.000690
5,DEU,Germany,2019,EUR,4.242128e+04,0.893409,47482.503953,DE,EU1,26.990,0.000636
6,GRC,Greece,2019,EUR,1.758946e+04,0.893409,19688.039846,GR,EU2,26.990,0.001534
7,IRL,Ireland,2019,EUR,4.960502e+04,0.893409,55523.327202,IE,EU1,26.990,0.000544
8,ITA,Italy,2019,EUR,3.002826e+04,0.893409,33610.894799,IT,EU2,26.990,0.000899
9,LUX,Luxembourg,2019,EUR,6.584320e+04,0.893409,73698.861923,LU,EU1,26.990,0.000410
10,NLD,Netherlands,2019,EUR,4.835871e+04,0.893409,54128.323695,NL,EU1,26.990,0.000558
11,PRT,Portugal,2019,EUR,1.756195e+04,0.893409,19657.246199,PT,EU2,26.990,0.001537
12,SVK,Slovak Republic,2019,EUR,1.501742e+04,0.893409,16809.124692,SK,EU2,26.990,0.001797
13,ESP,Spain,2019,EUR,2.746776e+04,0.893409,30744.902198,ES,EU2,26.990,0.000983
14,SVN,Slovenia,2019,EUR,2.596144e+04,0.893409,29058.867958,SI,EU2,26.990,0.001040
15,EST,Estonia,2019,EUR,1.861122e+04,0.893409,20831.699487,EE,EU2,26.990,0.001450
16,LVA,Latvia,2019,EUR,1.611850e+04,0.893409,18041.578058,LV,EU2,26.990,0.001674
17,LTU,Lithuania,2019,EUR,1.454719e+04,0.893409,16282.794420,LT,EU2,26.990,0.001855
19,CZE,Czech Republic,2019,CZK,4.082113e+05,22.934477,17799.021931,CZ,EU2,26.990,0.000066
20,DNK,Denmark,2019,DKK,4.463967e+05,6.670257,66923.460020,DK,EU1,26.990,0.000060
21,HUN,Hungary,2019,HUF,3.990645e+06,290.678255,13728.736003,HU,EU2,26.990,0.000007
24,NOR,Norway,2019,NOK,5.798198e+05,8.802308,65871.339584,NO,EU2,26.990,0.000047
25,POL,Poland,2019,PLN,6.005698e+04,3.839670,15641.182819,PL,EU2,26.990,0.000449
26,SWE,Sweden,2019,SEK,4.383502e+05,9.461526,46329.755681,SE,EU1,26.990,0.000062
27,CHE,Switzerland,2019,CHF,8.879216e+04,0.993719,89353.391823,CH,EU1,26.990,0.000304