In [1]:
import numpy as np
import pandas as pd
import requests
import time
from matplotlib import pyplot as plt
from pprint import pprint

In [2]:
df=pd.read_csv('annual_wages.csv')
df_1=df[['COUNTRY','Country','Time','Unit Code','Value']]
df_1.columns=['Country_code','Country','Year','Currency','Annual_income']
income_df=df_1.loc[df_1['Year']==2019]
income_df=income_df.drop_duplicates(subset=['Country'])
income_df=income_df.reset_index(drop=True)

In [3]:
rate=("https://api.exchangeratesapi.io/history?start_at=2019-01-01&end_at=2019-12-31&base=USD")
json = requests.get(rate).json()
rate_df=pd.DataFrame.from_dict(json['rates'])
avg_rate=rate_df.mean(axis=1)
avg_rate=avg_rate.to_frame()
avg_rate['Currency']=avg_rate.index
avg_rate.columns=['Rate','Currency']

In [4]:
income1_df=income_df.merge(avg_rate,on='Currency')
income1_df['income_USD']=income1_df['Annual_income']/income1_df['Rate']
income1_df.drop(['Year','Annual_income','Rate'],axis=1)

   Country_code          Country Currency    income_USD
0           AUS        Australia      AUD  58086.613623
1           AUT          Austria      EUR  50020.596455
2           BEL          Belgium      EUR  52881.047124
3           FIN          Finland      EUR  47702.181469
4           FRA           France      EUR  43764.140735
5           DEU          Germany      EUR  47482.503953
6           GRC           Greece      EUR  19688.039846
7           IRL          Ireland      EUR  55523.327202
8           ITA            Italy      EUR  33610.894799
9           LUX       Luxembourg      EUR  73698.861923
10          NLD      Netherlands      EUR  54128.323695
11          PRT         Portugal      EUR  19657.246199
12          SVK  Slovak Republic      EUR  16809.124692
13          ESP            Spain      EUR  30744.902198
14          SVN         Slovenia      EUR  29058.867958
15          EST          Estonia      EUR  20831.699487
16          LVA           Latvia      EUR  18041.578058
17          LTU        Lithuania      EUR  16282.794420
18          CAN           Canada      CAD  52131.247075
19          CZE   Czech Republic      CZK  17799.021931
20          DNK          Denmark      DKK  66923.460020
21          HUN          Hungary      HUF  13728.736003
22          JPN            Japan      JPY  40395.775497
23          KOR            Korea      KRW  35881.345832
24          NOR           Norway      NOK  65871.339584
25          POL           Poland      PLN  15641.182819
26          SWE           Sweden      SEK  46329.755681
27          CHE      Switzerland      CHF  89353.391823
28          GBR   United Kingdom      GBP  47378.063243
29          USA    United States      USD  65835.577640
30          ISR           Israel      ILS  46336.583250
31          MEX           Mexico      MXN   9428.177603
32          ISL          Iceland      ISK  85234.669386
33          NZL      New Zealand      NZD  45787.554610

In [27]:
region=['us','eu1','au','ru','uk']

In [28]:
no=2
url = "https://api.isthereanydeal.com/v01/stats/popularity/chart/?"
key = ""
top_url = f"{url}key={key}&offset=0&&limit={no}"
response = requests.get(top_url).json()

In [29]:
top_df=pd.DataFrame.from_dict(response['data'])
top_df.drop(columns=['rank'])

   position           title          plain
0         1  NieR: Automata   nierautomata
1         2  Stardew Valley  stardewvalley

In [30]:
for index in top_df.plain:
    for i in region:
        url_2="https://api.isthereanydeal.com/v01/game/prices/?"
        price_url=f"{url_2}key={key}&plains={index}&shops=steam&region={i}"
        response_1 = requests.get(price_url).json()
        print(response_1)

{'.meta': {'currency': 'USD'}, 'data': {'nierautomata': {'list': [{'price_new': 39.99, 'price_old': 39.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/524220/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['Denuvo Anti-tamper\t\t\t\t\t\t\t\t\r']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=nierautomata'}}}}
{'.meta': {'currency': 'EUR'}, 'data': {'nierautomata': {'list': [{'price_new': 39.99, 'price_old': 39.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/524220/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['Denuvo Anti-tamper\t\t\t\t\t\t\t\t\r']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=nierautomata'}}}}
{'error': 'unknown_region', 'error_description': 'We are not covering specified region'}
{'.meta': {'currency': 'RUB'}, 'data': {'nierautomata': {'list': [{'price_new': 1332, 'price_old': 1332, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/524220/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['Denuvo Anti-tamper\t\t\t\t\t\t\t\t\r']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=nierautomata'}}}}
{'.meta': {'currency': 'GBP'}, 'data': {'nierautomata': {'list': [{'price_new': 29.99, 'price_old': 29.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/524220/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['Denuvo Anti-tamper\t\t\t\t\t\t\t\t\r']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=nierautomata'}}}}
{'.meta': {'currency': 'USD'}, 'data': {'stardewvalley': {'list': [{'price_new': 14.99, 'price_old': 14.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/413150/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['steam']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=stardewvalley'}}}}
{'.meta': {'currency': 'EUR'}, 'data': {'stardewvalley': {'list': [{'price_new': 13.99, 'price_old': 13.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/413150/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['steam']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=stardewvalley'}}}}
{'error': 'unknown_region', 'error_description': 'We are not covering specified region'}
{'.meta': {'currency': 'RUB'}, 'data': {'stardewvalley': {'list': [{'price_new': 299, 'price_old': 299, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/413150/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['steam']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=stardewvalley'}}}}
{'.meta': {'currency': 'GBP'}, 'data': {'stardewvalley': {'list': [{'price_new': 10.99, 'price_old': 10.99, 'price_cut': 0, 'url': 'https://store.steampowered.com/app/413150/', 'shop': {'id': 'steam', 'name': 'Steam'}, 'drm': ['steam']}], 'urls': {'game': 'https://isthereanydeal.com/#/page:game/info?plain=stardewvalley'}}}}